<h1>Stories</h1>

<div class="row">
{{#each stories}}
    <div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            {{{editIcon user.id ../user.id _id}}}
        </div>
        <div class="card-content center-align">
            <h5>{{title}}</h5>
            {{!--how to use functions in handlebars --}}
            <p class="story-text">{{stripTags (truncate body 130)}}</p>   
            <br>
            <div class="chip">
            <img src="{{user.image}}">
            <a href="/stories/user/{{user._id}}">{{user.firstName}} {{user.lastName}}</a>
            </div>
        </div>  
        <div class="card-action center-align">
            <a href="/stories/show/{{_id}}" class="btn grey">Read More</a>
        </div>    
    </div>
    </div>
{{else}}
<p>No stories yet</p>
{{/each}}
</div>